<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <title>bookers</title>
</head>
<body>
    <h1>Books</h1>
    <table>
        <thead>
        <tr>
        <th>Title</th>
        <th>Body</th>
        
        </tr>
        </thead>
        
        <% @books.each do |book| %>
        <tbody>
        <tr class="title"><%= link_to book.title, book_path(book) %></tr>
        <tr class="body"><%= link_to book.body %></tr>
        </tbody>
        
        <% end %>
        
    </table>
    <h2>New book</h2>
    <%= form_with model:@book, local:true do |f| %>
    <h4>Title</h4>
    <%= f.text_field :title %>
    <h4>Body</h4>
    <%= f.text_area :body %>
    <%= f.submit 'Create Book' %>
    <% end %>
    
    
    
    
</body>
</html>